
@{
    ViewData["Title"] = "Index";
}
 <link href="/css/site.css" rel="stylesheet">
<h1>Mejores series</h1>
<h2>La serie que necesitas</h2>
<div style="display: flex; justify-content: center; flex-wrap: wrap;">
  @foreach (var serie in ViewBag.Series)
  {
      <div class="card" style="width: 18rem;">
      <img src="@serie.ImagenSerie" class="card-img-top">
      <div class="card-body">
      <h5 class="card-title">@serie.Nombre</h5>
      <button type="button" class="btn btn-primary" data-bs-toggle ="modal" data-bs-target="#Modal" onclick="MostrarTemporadas(@serie.IdSerie)" >Temporadas</button>
      <button type="button" class="btn btn-primary" data-bs-toggle ="modal" data-bs-target="#Modal" onclick="MostrarActores(@serie.IdSerie)" >Actores</button>
      <button type="button" class="btn btn-primary" data-bs-toggle ="modal" data-bs-target="#Modal" onclick="MostrarSerie(@serie.IdSerie)" >Mas Info</button>
    </div>
  </div>
  }
</div>


<!-- Modal -->
 <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ModalBody">
                <div id="Info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
    </div>